<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devcamp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activityt android:name=".SplashActivity"/>

        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".guide.GuideActivity" />
        <activity android:name=".guide.GuideDetailActivity" />
        <activity android:name=".setting.CleansingActivity" />
        <activity android:name=".alarm.AlarmListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.devcamp.setting.SettingActivity" />
        </activity>
        <activity android:name=".setting.SpecialActivity" />
        <activity android:name=".setting.DdayActivity" />
        <activity android:name=".setting.SkincareActivity" />
        <activity android:name=".setting.SpecialDayActivity" />
        <activity android:name=".setting.DdayModifyActivity" />
        <activity android:name=".alarm.AlarmUpdateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.devcamp.alarm.AlarmListActivity" />
        </activity>
        <activity android:name=".setting.DdaySettingActivity" />
        <activity android:name=".setting.SpecialSettingActivity" />

        <receiver android:name=".alarm.AlarmReceiver">
            <intent-filter>
                <action android:name="com.example.devcamp.alarm.AlarmReceiver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".alarm.specialAlarm.SpecialAlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.devcamp.alarm.SpecialAlarmReceiver"></action>
            </intent-filter>
        </receiver>

        <service
            android:name=".alarm.specialAlarm.SpecialAlarmService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>